@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{font-family: Montserrat;}
body{margin:0;overflow-x:hidden; background: #fff;}
header{width:1440px;display:table;background-color:#443E3E;margin-bottom:50px; height: 100px; margin: auto auto 50px auto;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.toggle-icon{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
width:30px;
height:30px;position:absolute;
right: 25px;
margin-top: 40px}
.search{
  margin-top: 7px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}
.cartIcon, .userIcon{
  margin-top: -17px;
}
.cartLabel, .userLabel{
  display: none;
}

.slider{
    max-width: 1440px;
    position: relative;
    margin: auto;
    height: 700px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    width: 100%;
    height: 700px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: #443E3E; opacity: 0.5;
}
/* Кружочки */
.slider-dots {
    text-align: center; margin-top: -40px;
}
.slider-dots_item{
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
h1{
  color: #443E3E;
  margin-bottom: 20px;
  text-align: center;
}
.new_games{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(8,1fr);
  background: #443E3E;
  max-width: 1440px;
  margin:auto;
  height: 960px;
}
.gamesCon{
  grid-row: 1/8;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(7,1fr);
    grid-row-gap: 5px;
}
.game{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 1fr;
  grid-template-rows: repeat(2,0.5fr);
  background: #fff;
  height:101%;
  margin: 10px;
}
.game_logo{
  grid-column: 1/3;
  grid-row: 1/3;
  width: 2fr;
  height: 2fr;
  margin: 5px;
}
.game_name, .game_price{
  width: 100%;
  height: 100%;
  font-size: 24px;
      text-align: center;
       display: flex;
align-items: center;
flex-wrap: wrap;
}
.game_name{grid-column: 3/5;
margin: auto;
    grid-row: 1/3;
    flex-direction: row;
}
.game_price{
  grid-column: 5/6;
      grid-row: 1/2;
}
.checkAll{
  background: #D62D30;
  color: white;
  border-radius: 20px;
  grid-row: 8/9;
  grid-column: 1/3;
  width: 20%;
  height: 30%;
  margin: auto;
  border: none;
}
.in_cart{
  background: #D62D30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  grid-column: 5/6;
  grid-row:2/3;
  height: 50%;
  border: none;
  margin-right: 5%;
}
.in_cart a{
color: white;
text-decoration: none;
}
.reviews_con{
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(10,1fr);
  height: 500px;
  background: #443E3E;
  margin: auto;
}
.review_main{
  background: #fff;
  color: black;
  grid-row: 1/10;
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
}
.review_name, .otziv{
  text-align: center;
  color: #443E3E;
    border-bottom: 1px solid #443E3E;
}
.review_name{
  grid-row: 1/2;
  margin: auto;
  font-weight: bolder;
    font-size: 18px;
}
.otziv{
grid-row: 2/6;
margin: auto;
    font-size: 24px;
}
.checkAll:hover, .in_cart:hover, .buy:hover{
  background: #D62D10;
}
.counter_con{
  grid-row: 10/11;
  grid-column: 2/3;
  width: 100%;
  margin: auto;
  grid-template-rows: 1fr;
}
.counter{
  background: #443E3E;
  color: #fff;
  font-size: 18px;
  width: 25px;
  height: 25px;
  text-align: center;
    margin: auto;
}
.counter a{
  text-decoration: none;
}
.counter a:visited,.counter a:link{
  color: #fff;
}
footer{
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background: #443E3E;
}
.footer_con{
  max-width: 1440px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 25px; 
  margin: auto;
}
.specialThings{
  background: #FFF;
  color: #443E3E;
  grid-row: 1/2;
  width: 1fr;
  height: 1fr;
  text-align: center;
  margin: 10px 10px;
  font-size: 24px;
    display: flex;
    align-items: center;
}
.aboutUs{
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 18px;
  color: #fff;
  margin: auto auto auto 10px;
  height: 1fr;
  width: 1fr;
  display: flex;
  align-items: center;
}
.toMain{
  display: flex;
  text-align: center;
  align-items: center;
  width: 1fr;
  margin: auto;
}
.toMain a{
  text-decoration: none;
 color: #fff;
 font-size: 30px;
}
.form{
  width: 100%;
  height: 400px;
  text-align: center;
}
.enter{
  background: #443E3E;
  color: #fff;
  font-size: 36px;
  width: 400px;
  padding: 20px;
  margin: auto auto 30px auto;
}
.login, .password{
 background: #443E3E;
  color: #fff;
  width: 50%;
  margin: 10px;
  height: 30px;
  font-size: 24px;
}
.forget{margin-bottom: 5px;}
.forget a{
  color: #443E3E;
  text-decoration: none;
  font-size: 24px;
}
#log_in{
  background: #443E3E;
  color: #fff;
  width: 25%;
  font-size: 18px;
}
.Reg{
  font-size: 24px;
  color: #443E3E;
  margin-top: 20px;
}
.Reg a{
    font-size: 36px;
  color: #000;
  text-decoration: none;
}
.error{
  max-width: 50%;
  text-align: center;
  margin: auto;
  border: 1px solid red;
  background: rgba(255,0,0,0.5);
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sogl{
  max-width: 50%;
  text-align: center;
  margin: auto;
}
#register{
  background: #443E3E;
  color: #fff;
  width: 50.6%;
  font-size: 18px;
  margin-bottom: 5px;
}

    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .custom-checkbox+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    .custom-checkbox+label::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
      border-color: #b3d7ff;
    }

    .custom-checkbox:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }

    .custom-checkbox:focus+label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .custom-checkbox:focus:not(:checked)+label::before {
      border-color: #80bdff;
    }

    .custom-checkbox:checked+label::before {
      border-color: #0b76ef;
      background-color: #0b76ef;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    .custom-checkbox:disabled+label::before {
      background-color: #e9ecef;
    } 

    .checkbox {
      height: 10%;
      margin-bottom: 10px;
      width: 100%;
    }
    .profileCon{
      display: grid;
      margin: auto;
      max-width: 1440px;
      height: 830px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
.aboutU{
  height: 100%;
  max-width: 1fr;
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: 1fr;
  font-size: 24px;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/7;
  float: left;
}
.profEmail, .deleteAcc, .newPass, .abobus{
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
}
.deleteAcc a, .newPass a, .abobus a{
  text-decoration: underline;
  color: black;
}
.profEmail{
    grid-row: 1/2;
}
.newPass{
  grid-row: 2/3;
}
.deleteAcc{
  grid-row: 5/6;
}
.logout{
  grid-column: 1/2;
  grid-row: 4/5;
    background: #443E3E;
  font-size: 30px;
  color: #fff;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto auto 0;
}
#logout{
  text-decoration: none;
  color: #fff;
}
.yourGames{
   background: #443E3E;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(6, 1fr);
   width: 100%;
   height: 100%;
   margin: auto;
   grid-column: 2/9;
   grid-row: 1/7;
}
.yourGame{
  display: grid;
  background: #fff;
  color: #443E3E;
  grid-template-rows: 1fr;
  width: 98%;
  margin: 10px 10px 0 10px;
  height: 1fr;
  grid-column: 1/8;
  font-size: 24px;
  grid-template-columns: repeat(8, 1fr);
}
.Your_game_name,.Your_game_price,.Buy_Date{
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 1fr;
}
.Your_game_name{
  grid-column: 1/4;
}
.Your_game_price{
  grid-column: 4/6;
}
.Buy_Date{
  grid-column: 6/8;
}
.counter_con1{
  grid-row: 6/7;
  grid-column: 4/5;
  width: 100%;
  margin: auto;
  grid-template-rows: 1fr;
}
.counter_con2{
  grid-row: 8/9;
  grid-column: 1/3;
  width: 100%;
  margin: auto;
  grid-template-rows: 1fr;
}
.admin_table{
  border: 1px solid #443E3E;
  grid-template-columns: repeat(5, 1fr);
  width: 800px;
  margin: auto;
  display: grid;
  text-align: center;
}
.zagol{
  background: #443E3E;
  color: #fff;
}
.bandude{
  max-width: 1440px;
  margin: 150px auto auto auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 0,5fr;
  height: 1500px;
  text-align: center;
  font-size: 36px;
}
.clown{
  background-image: url(https://vizov-ded-moroza.ru/upload/medialibrary/237/237f6886e6457f2b921d0d8b88fba512.jpg);
  background-size: 100% 100%;
}
#return{
  margin: 20px auto auto auto;
  text-align: center;
}
.ressurection{
  max-width: 1440px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  height: 250px;
}
.ressurection h3{
  grid-row: 1/2;
  font-size: 24px;
}
.ressurection .login{
  margin: auto;
  grid-row: 2/3;
}
.ressurection #register{
  margin: auto;
  grid-row: 3/4;
}
.last_price{
  margin: 30px auto;
  width: 50%;
text-align: center;
font-size: 24px;
}
.buy{
  background: #D62D30;
  color: white;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.button_buy{
    width: 20%;
  height: 50px;
  margin: auto auto 50px auto;
}

.popup {
  display: none;
  position: absolute;
  min-width: 100px;
  min-height: 10px;
  padding: 20px;
  background: gray;
  color: white;
  border: #443E3E 3px solid;
}

.popup button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  color: white;
  background: red;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 991px) and (max-width: 1439px) {
  header{width: 100%}
.container{max-width:980px;}
}
@media only screen and (min-width: 1440px){
  .container{max-width:980px}
}
#logo{float:left;font-size:25px;text-transform:uppercase;color:#fffab2;font-weight:600;text-decoration:none;margin: auto 0;}
nav{width:auto;float:right;margin-top:35px}
nav ul{display:table;float:right;margin:0;padding:0}
nav ul li{float:left;list-style-type:none}
nav ul li:last-child{padding-right:0}
nav ul li a{color:#e4f2ff;font-size:19px;padding:7px 19px;display:inline-block;text-decoration:none}
nav ul li a:hover{background-color:#666;color:white; opacity: 0.8;}
nav ul li a.cartLink:hover, nav ul li a.profileLink:hover{
  background: #443E3E;
}
input[type=checkbox],label{display:none}
@media only screen and (max-width: 990px) {
header{padding:20px 0; width: 100%;}
#logo{padding:0}
input[type=checkbox]{position:absolute;top:-9999px;left:-9999px;background:none}
input[type=checkbox]:focus{background:none}
label{float:right;display:inline-block;cursor:pointer;}
input[type=checkbox]:checked ~ nav{display:block}
nav{display:none;position:absolute;right:0;top:100px;background-color:#443E3E;padding:0;z-index:99; width: 100%;}
nav ul{width:100%; text-align: center;}
nav ul li{float:none;padding:0;width:100%;display:table;}
nav ul li a{color:#FFF;font-size:15px;padding:10px 20px;display:block;}
.cartIcon, .userIcon{
  display: none;
}
.cartLabel, .userLabel{
  display: inline-block;
}

.slider{
    max-width: 100%;
    height: 400px;
}
.slider .item img {
    height: 400px;
}

.new_games{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15,1fr);
  max-width: 990px;
  margin:auto;
  height: 1920px;
}
.gamesCon{
  grid-row: 1/15;
  grid-column: 1/2;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: 1fr;
}
.game{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 1fr;
  grid-template-rows: repeat(2,0.5fr);
  height:95%;
  margin: 10px;
}
.game_logo{
  grid-column: 1/3;
  grid-row: 1/3;
  width: 2fr;
  height: 2fr;
  margin: 5px;
}
.game_name, .game_price{
  width: 1fr;
  height: 100%;
  font-size: 24px;
  margin: auto;
      text-align: center;
}
.game_name{grid-column: 3/5;
margin: auto;
    grid-row: 1/3;
}
.game_price{
  grid-column: 5/6;
      grid-row: 1/2;
}
.checkAll{
  grid-row: 15/16;
  grid-column: 1/2;
  width: 50%;
}
.in_cart{
height: 70%;
width: 90%;
}

.reviews_con{
  max-width: 990px;
  grid-template-columns:1fr;
  grid-template-rows: repeat(3,1fr);
  height: 1000px;
}
.review_main{
  grid-row: initial;
  margin: 10px;
  height: 3fr;
}
.counter_con{
  grid-column: 1/2;
}
.counter_con2{
  grid-row: 15/16;
}
footer{
  height: 700px;
}
.footer_con{
  max-width: 990px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,1fr);
  grid-row-gap: 10px; 
  grid-column-gap: 0;
}
.specialThings{
  grid-row: initial;
  align-items: center;
  justify-content: center;
}
.aboutUs{
  grid-column: 1/2;
  grid-row: 5/7;
    text-align: center;
}
.toMain{
  text-align: center;
}
.toMain a{
  text-decoration: none;
 color: #fff;
 font-size: 30px;
}
.form{
  height: 450px;
}
.login, .password{
  width: 75%;
}
.forget{
  width: 100%;
  margin: 10px 0;
}
#log_in{
  margin: auto auto 20px auto;
}

   .profileCon{
      max-width: 990px;
      height: 1600px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 1fr);
    }
.aboutU{
  font-size: 18px;
}

.yourGames{
   grid-column: 1/2;
   grid-row: 6/12;
}
.profEmail, .deleteAcc, .newPass, .abobus{
  align-items: center;
  justify-content: center;
}
.logout{
 margin: auto;
}
.button_buy{
  width: 50%;
}
}
@media only screen and (max-width: 360px) {
label{padding:5px 0}
#logo{font-size:20px}
nav{top:100px}
}